<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            padding: 20px;
        }

        h1 {
            color: #3498db;
        }

        .container {
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>NASA API Information</h1>
        <div>
            <h2>Title: <%= data.title %></h2>
            <p>Date: <%= data.date %></p>
            <p>Explanation: <%= data.explanation %></p>
            <img src="<%= data.url %>" alt="NASA Image" class="img-fluid">
        </div>
    </div>
</body>
</html>
